/*MASTER STYLES*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

@font-face {
    font-family: 'Jasmina FY';
    src: url('myfonts/JasminaFY-Regular.eot');
    src: local('myfonts/Jasmina FY Regular'), local('JasminaFY-Regular'),
        url('myfonts/JasminaFY-Regular.eot?#iefix') format('embedded-opentype'),
        url('myfonts/JasminaFY-Regular.woff2') format('woff2'),
        url('myfonts/JasminaFY-Regular.woff') format('woff'),
        url('myfonts/JasminaFY-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Commons Extra Light';
    src: url('myfonts/TTCommons-ExtraLight.eot');
    src: url('myfonts/TTCommons-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('myfonts/TTCommons-ExtraLight.woff') format('woff'),
    url('myfonts/TTCommons-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeuePro-Light';
    src: url('myfonts/BebasNeuePro-Light.eot');
    src: url('myfonts/BebasNeuePro-Light.eot?#iefix') format('embedded-opentype'),
    url('myfonts/BebasNeuePro-Light.woff') format('woff'),
    url('myfonts/BebasNeuePro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0px;
    color: whitesmoke;
    background-color: black;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
/*NAV STYLES*/
.nav-wrapper {
    display: grid;
    padding: 30px ;
    height: 70px; /* You must set a specified height */
    background-image: url(pics/Twinkle\ Stars.gif);
    background-color: black;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.right-side
{
    display : flex;
}
.nav-wrapper > .right-side > div {
    padding-top: 15px;
    margin-right: 7px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-family: Bold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px white;
    transition : border-bottom 0.5s;
}
.nav-link-wrapper a {
    color: white;
    text-decoration: none;
    transition : color 0.5s;
}
.nav-link-wrapper a:hover{
    color : rgb(255, 200, 61);
}
.nav-link-wrapper:hover {
    border-bottom: 1px solid rgb(255, 200, 61);
}
.left-side {
    font-weight: 600;
    font-size: 1.9em;
    color: whitesmoke;
    font-family: 'Jasmina FY';
}
.active-nav-link {
    border-bottom: 1px solid rgb(255, 200, 61);
}
.active-nav-link a {
    color: rgb(255, 200, 61) !important;
}

/*SELECT BOX*/
.list {
    padding-bottom: 5px;
    width: 280px;
    display: flex;
}
.list ul li div {
    font-size: 120%;
    border-left: 4px solid rgb(255, 200, 61);
    padding-left: 5px;
}
.list ul li{
    position: relative;
    float: left;
    list-style: none;
}
.list ul li ul{
    display: none;
    position: absolute;
    z-index: 999999;
    background: rgba(0,0,0,.5);
}
.list ul li ul li {
    width: 200px;
}
.list ul li a{
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 90%;
    display: block;
    padding: 15px ;
}

.list ul li ul li a:hover{
    background: rgb(255, 200, 61);
    color: black;
    font-weight: 600;
}
.list ul li:hover ul{
    display: block;

}
/*FOOTER*/
.footer {
    height: 150px;
    border-top: 1px solid rgb(255, 200, 61);
    margin-top: 60px;
    width: 100%;
}
.column-1 {
    margin: 10px;
}
.column-1 .brand div{
    font-size: 120%;
    font-weight: 500;
    font-family: 'Jasmina FY';
}
.column-1 p{
    font-weight: 300;
    font-size: 80%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.column-2 {
    margin: 10px;
}
.column-2 h1 {
    font-weight: 600;
    font-size: 100%;
    font-family:  'TT Commons Extra Light';
}

.social-media-footer a{
    font-size: 25%;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: 1s;
}
.social-media-footer a:hover {
    color: rgb(255, 200, 61);
}

/*ARTICLES*/
.articles-container {
    background-color: whitesmoke;
}
.article-wrapper > h1{
    background-color: black;
    color: white;
    display: table;
    margin: 50px;
    margin-bottom: 0;
    font-family: 'Montserrat';
    font-size: 15px;
    border: 15px solid black;
    border-bottom: 0;
    border-top-right-radius: 25px;
    border-top-left-radius: 5px;
    color: rgb(255, 200, 61);
}
.article-content {
    margin: 50px;
    margin-top: 0;
    margin-right: 10px;
    color: black;
    border: 3px solid black;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 70%;
    background-color: black;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 75%;
    color: white;
    display: inline-flex;
    justify-content: left;
}
.article-img img {
    width: 100px;
    height: 120px;
    background-size: cover;
}
.article-img {
    display: none;
}
.desc-btn {
    margin: 30px auto 10px 20px;
}
.desc-btn p {
    margin-right: 30%;
}
.desc-btn button {
    margin-bottom: 30px;
    position: relative;
    background-color: transparent;
    border: 0.05em solid rgb(255, 200, 61);
    color:rgb(255, 200, 61);
    font-size: 1.1em;
    border-radius: 0.1em;
    transition: all 1s;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.desc-btn button:hover {
    background-color:rgb(255, 200, 61) ;
    border-color: black;
    color: black;
}
@media only screen and (min-width: 501px) {
/*NAV STYLES*/

.nav-wrapper {
    display : flex;
    justify-content: space-between;
    padding: 38px ;
    background-size: 70%;

}
.nav-wrapper > .right-side > div {
    padding-top: 0px;
    margin-right: 20px;
    font-size: 0.9em;
}
.left-side {
    font-size: 2em;
}
/*SELECT BOX*/
.list {
    padding: 170px;
    padding-bottom: 5px;
    padding-top: 5px;
}
/*FOOTER*/
.footer {
    height: 200px;
    display: flex;
    margin-top: 50px;
}
.column-1 {
    margin: 40px;
}
.column-1 .brand div{
    font-size: 190%;
    font-weight: 500;
}
.column-1 p{
    font-weight: 300;
}
.column-2 {
    margin: 40px;
}
.column-2 h1 {
    font-weight: 300;
    font-size: 150%;
}
.social-media-footer a{
    font-size: 25%;
    display: inline-block;
    margin: 5px;
}
/*ARTICLES*/
.article-wrapper > h1{
    font-size: 25px;
}
.article-content {
    width: 60%;
    font-size: 100%;
}
.article-img img {
    width: 100px;
    height: 120px;
    background-size: cover;
}
.article-img {
    display: block;
    margin: 30px 15px 5px 30px;
}

.desc-btn button {
    font-size: 1.3em;
}
  
}
@media only screen and (min-width: 845px) {
.nav-wrapper{
    background-size: 30%;
}
/*LIST*/
.list {
    padding-bottom: 25px;
    padding-right: 10px;
    width: 400px;
    padding: 0;
}
.list ul li div {
    font-size: 150%;
    padding-left: 7px;
}
.list ul li ul li {
    width: 300px;
}
.list ul li a{
    font-size: 95%;
    padding: 15px ;
}
/*FOOTER*/
.social-media-footer {
    font-size: 120%;
}
    
}

