/*MASTER STYLES*/
@font-face {
    font-family: 'Jasmina FY';
    src: url('myfonts/JasminaFY-Regular.eot');
    src: local('myfonts/Jasmina FY Regular'), local('JasminaFY-Regular'),
        url('myfonts/JasminaFY-Regular.eot?#iefix') format('embedded-opentype'),
        url('myfonts/JasminaFY-Regular.woff2') format('woff2'),
        url('myfonts/JasminaFY-Regular.woff') format('woff'),
        url('myfonts/JasminaFY-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Commons Extra Light';
    src: url('myfonts/TTCommons-ExtraLight.eot');
    src: url('myfonts/TTCommons-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('myfonts/TTCommons-ExtraLight.woff') format('woff'),
    url('myfonts/TTCommons-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0px;
    color: whitesmoke;
    background-color: black;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
/*NAV STYLES*/
.nav-wrapper {
    display: grid;
    padding: 30px ;
    height: 70px; /* You must set a specified height */
    background-image: url(pics/Twinkle\ Stars.gif);
    background-color: black;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.right-side
{
    display : flex;
}
.nav-wrapper > .right-side > div {
    padding-top: 15px;
    margin-right: 7px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-family: Bold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px white;
    transition : border-bottom 0.5s;
}
.nav-link-wrapper a {
    color: white;
    text-decoration: none;
    transition : color 0.5s;
}
.nav-link-wrapper a:hover{
    color : rgb(255, 200, 61);
}
.nav-link-wrapper:hover {
    border-bottom: 1px solid rgb(255, 200, 61);
}
.left-side {
    font-weight: 600;
    font-size: 1.9em;
    color: whitesmoke;
    font-family: 'Jasmina FY';
}
.active-nav-link {
    border-bottom: 1px solid rgb(255, 200, 61);
}
.active-nav-link a {
    color: rgb(255, 200, 61) !important;
}

/*PORTFOLIO STYLES*/
.portfolio-items-wrapper {
    padding-top: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 100%;
}
.portfolio-item-wrapper {
    position: relative;
}
.portfolio-img-background {
    height: 260px;
    width: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin : 10px 25px;
    opacity: 70%;

}
.img-text-wrapper {
    position: absolute;
    top: -10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.logo-wrapper img{
    width: 55%;
    padding-right: 20px;
    margin-top: 50px;

}
.img-text-wrapper .subtitles {
    padding-right: 10%;
    font-size: 85%;
    transition: 1s;
    color: transparent;
    font-weight: 600;
    font-family: 'TT Commons Extra Light';
    margin-top: 50px;

}
.img-text-wrapper:hover .subtitles {
    font-size: 85%;
    font-weight: 600;
    color: rgb(255, 200, 61);
    font-family: 'TT Commons Extra Light';
}

.img-darken {
    transition: 1s;
    filter: brightness(20%);
}
.img-text-wrapper .click-me-link a{
    color: transparent;
    transition: 1s;
    font-size: 80%;
    padding-right: 25px;
    font-family: 'TT Commons Extra Light';
    font-weight: 600;
}
.img-text-wrapper:hover .click-me-link a{
    display: ruby;
    color:rgb(255, 200, 61);
    font-size: 80%;
    padding-right: 25px;
    font-family: 'TT Commons Extra Light';
    font-weight: 600;;
}

/*SELECT BOX*/
.list {
    padding-bottom: 5px;
    width: 280px;
    display: flex;
}
.list ul li div {
    font-size: 120%;
    border-left: 4px solid rgb(255, 200, 61);
    padding-left: 5px;
}
.list ul li{
    position: relative;
    float: left;
    list-style: none;
}
.list ul li ul{
    display: none;
    position: absolute;
    z-index: 999999;
    background: rgba(0,0,0,.5);
}
.list ul li ul li {
    width: 200px;
}
.list ul li a{
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 90%;
    display: block;
    padding: 15px ;
}

.list ul li ul li a:hover{
    background: rgb(255, 200, 61);
    color: black;
    font-weight: 600;
}
.list ul li:hover ul{
    display: block;

}
/*FOOTER*/
.footer {
    height: 150px;
    border-top: 1px solid rgb(255, 200, 61);
    margin-top: 60px;
    width: 100%;
}
.column-1 {
    margin: 10px;
}
.column-1 .brand div{
    font-size: 120%;
    font-weight: 500;
    font-family: 'Jasmina FY';
}
.column-1 p{
    font-weight: 300;
    font-size: 80%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.column-2 {
    margin: 10px;
}
.column-2 h1 {
    font-weight: 600;
    font-size: 100%;
    font-family:  'TT Commons Extra Light';
}

.social-media-footer a{
    font-size: 25%;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: 1s;
}


.social-media-footer a:hover {
    color: rgb(255, 200, 61);
}
@media only screen and (min-width: 501px) {
/*NAV STYLES*/

.nav-wrapper {
    display : flex;
    justify-content: space-between;
    padding: 38px ;
    background-size: 70%;

}
.nav-wrapper > .right-side > div {
    padding-top: 0px;
    margin-right: 20px;
    font-size: 0.9em;
}
.left-side {
    font-size: 2em;
}
/*Portofolio*/
.portfolio-items-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}
.portfolio-img-background {
    height: 350px;
    width: 100%;
    margin:0;
}
.img-text-wrapper {
    top: 0;
    padding-left: 50px;
    padding-right: 50px;
}
.logo-wrapper img{
    width: 80%;
    padding-right: 0;
}
.img-text-wrapper .subtitles {
    padding-right: 0;
    font-size: 100%;
}
.img-text-wrapper:hover .subtitles {
    font-size: 100%;
}

.img-text-wrapper .click-me-link a{
    font-size: 100%;
    padding-right: 0px;
}
.img-text-wrapper:hover .click-me-link a{
    font-size: 100%;
    padding-right: 0px;
}
/*SELECT BOX*/
.list {
    padding: 170px;
    padding-bottom: 5px;
    padding-top: 5px;
}
/*FOOTER*/
.footer {
    height: 200px;
    display: flex;
    margin-top: 50px;
}
.column-1 {
    margin: 40px;
}
.column-1 .brand div{
    font-size: 190%;
    font-weight: 500;
}
.column-1 p{
    font-weight: 300;
}
.column-2 {
    margin: 40px;
}
.column-2 h1 {
    font-weight: 300;
    font-size: 150%;
}
.social-media-footer a{
    font-size: 25%;
    display: inline-block;
    margin: 5px;
}

  
}
@media only screen and (min-width: 845px) {
.nav-wrapper{
    background-size: 30%;
}
/*Portfolio*/
.portfolio-items-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
}
.portfolio-img-background {
    height: 350px;
    width: 60%;
    margin:65px;
    margin-left: 160px;
}
.logo-wrapper img{
    width: 45%;
    padding-right: 0;
}
.img-text-wrapper .subtitles {
    font-size: 115%;
    margin-top: -25px;
}
.img-text-wrapper:hover .subtitles {
    font-size: 115%;
}
/*LIST*/
.list {
    padding-bottom: 25px;
    padding-right: 10px;
    width: 400px;
    padding: 0;
}
.list ul li div {
    font-size: 150%;
    padding-left: 7px;
}
.list ul li ul li {
    width: 300px;
}
.list ul li a{
    font-size: 95%;
    padding: 15px ;
}
/*FOOTER*/
.social-media-footer {
    font-size: 120%;
}
    
}

